.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logincard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  background: #0d1117;
  /* background: linear-gradient(to bottom right, #1f2d39, #000103); */

  /* width: 25vw; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

input {
  border: 1px solid #384a64;
  background-color: transparent;
  padding-left: 10px;
  color: white;
  margin-bottom: 20px;
  width: 80%;
  height: 35px;
  border-radius: 5px;
}

.loginbtn {
  /* background-color: rgb(0, 190, 102); */
  background-color: #0a1929;
  border: 0;
  color: white;
  width: 80%;
  height: 35px;

  cursor: pointer;
  border-radius: 5px;
}

.dis {
  background-color: #0d131a;
  border: 0;
  color: white;
  width: 80%;
  height: 35px;

  cursor: pointer;
  border-radius: 5px;
}
.scrol {
  overflow-y: none;
}

.signup {
  font-size: 12px;
  /* color: gray; */
}

/* loader code */
.loader {
  border: 3px solid #838383;
  border-radius: 50%;
  border-top: 3px solid #ffffff;
  /* margin-top    : 2%; */
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 300px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
