<div>
  <div class="center">
    <h3>{{ heading }}</h3>
  </div>

  <div class="center">
    <div class="setfrom">
      <form [formGroup]="form">
        <input
          type="text"
          placeholder="Add Expence"
          formControlName="expencename"
        />
        <input
          type="number"
          placeholder="Add Expence Cost"
          formControlName="expenceamount"
        />
        <button
          title="Add Expence"
          [ngClass]="{
            dis: form.valid == false,
            green: form.valid == true
          }"
          (click)="addexpence()"
          class="add"
          [disabled]="!form.valid"
        >
          <i class="lni lni-plus icon"></i> Add
        </button>
        <button
          title="Download excel sheet"
          class="export"
          (click)="exportToExcel()"
        >
          <i class="lni lni-cloud-download icon2"></i>Export
        </button>
      </form>
    </div>
  </div>

  <div class="center">
    <table id="excel-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Expence Name</th>
          <th>Expence Cost</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of _ExtrackerService.getdata; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.expencename }}</td>
          <td>{{ item.expenceamount }}</td>
          <td
            title="Delete row record"
            class="del"
            (click)="deleteExpense(item)"
          >
            <i class="lni lni-trash-3"></i>
          </td>
          <td
            title="Edit row record"
            class="update"
            (click)="editExpense(item)"
          >
            <i class="lni lni-pencil-1"></i>
          </td>
        </tr>
        <tr>
          <td class="totalrow" colspan="2"><strong>Total</strong></td>
          <td class="totalrow">
            <strong>{{ totalexp() }}</strong>
          </td>
          <td colspan="2"></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <!-- [ngClass]="totalexp() > totalbud() ? 'card3' : 'card1'" -->
  <div class="center" id="excel-table">
    <h2
      [ngClass]="{
        card3: totalexp() > totalbud(),
        card1: totalexp() < totalbud(),
        card2: totalexp() == totalbud()
      }"
    >
      <i *ngIf="totalexp() < totalbud()" class="lni lni-trend-down-1"></i>
      <i *ngIf="totalexp() > totalbud()" class="lni lni-trend-up-1"></i>
      Total Expence : {{ totalexp() }}
      <label class="lbl" *ngIf="totalexp() < totalbud()">Under Budget</label>
      <label class="lbl" *ngIf="totalexp() == totalbud()"
        >Expense is equal to the budget.</label
      >
      <label class="lbl" *ngIf="totalexp() > totalbud()"
        >Expence is exceed to the Budget</label
      >
    </h2>
    <!-- <span class="ope">{{ totalexp() > totalbud() ? ">" : "<" }}</span> -->
    <span class="ope" *ngIf="totalexp() == totalbud()">=</span>
    <span class="ope" *ngIf="totalexp() > totalbud()">></span>
    <span class="ope" *ngIf="totalexp() < totalbud()"><</span>

    <h2 class="card2 ml-5">
      <i class="lni lni-dollar-circle icon2"></i>Total budget : {{ totalbud() }}
    </h2>
    <h2 class="card4 ml-5">
      <i class="lni lni-weight-machine-1 icon2"></i>Balance : {{ balacnce() }}
    </h2>
  </div>
</div>
