<div>
  <div class="center">
    <h3>{{ heading }}</h3>
  </div>

  
  <div class="center">
    <!-- Start Q1 -->
    <!-- <button [ngClass]="isbtn == true ? 'a' : 'b'" [disabled]="isbtn == false">
      Test
    </button> -->
    <!-- End Q1 -->
    <div class="setfrom">
      <input type="number" placeholder="Enter budget" [(ngModel)]="number1" />

      <button
        title="Add budget"
        (click)="addBudget()"
        class="add hover:bg-sky-800"
        [ngClass]="!number1 ? 'dis' : 'green'"
        [disabled]="!number1"
      >
        <i class="lni lni-plus icon"></i> Add
      </button>

      <form [formGroup]="form">
        <input
          type="text"
          placeholder="Search Expence"
          (keyup)="search($any($event.target).value.toLowerCase())"
        />
        <input
          type="text"
          placeholder="Enter Expence"
          formControlName="expencename"
        />
        <input
          type="number"
          placeholder="Enter Expence Cost"
          formControlName="expenceamount"
        />
        <input
          class="date"
          type="date"
          placeholder="Enter Expence Date"
          formControlName="expencedate"
        />

        <button
          title="Add Expence"
          [ngClass]="{
            dis: form.valid == false,
            green: form.valid == true
          }"
          (click)="addexpence()"
          class="add hover:bg-sky-800"
          [disabled]="!form.valid"
        >
          <i class="lni lni-plus icon"></i> Add
        </button>
        <button
          title="Download excel sheet"
          class="export"
          (click)="exportToExcel()"
        >
          <i class="lni lni-cloud-download icon2"></i>Export
        </button>
      </form>
    </div>
  </div>

  <div class="center">
    <table id="excel-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Expence Name</th>
          <th>Expence Cost</th>
          <th>Expence Date</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of _ExtrackerService.getdata; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.expencename }}</td>
          <td>
            {{ item.expenceamount | currency : "USD" : "symbol" : "2.0" }}
          </td>
          <td>{{ item.expencedate }}</td>

          <td
            title="Delete row record"
            class="del"
            (click)="deleteExpense(item)"
          >
            <i class="lni lni-trash-3"></i>
          </td>
          <td
            title="Edit row record"
            class="update"
            (click)="editExpense(item)"
          >
            <i class="lni lni-pencil-1"></i>
          </td>
        </tr>
        <tr *ngIf="_ExtrackerService.getdata.length == 0">
          <td colspan="2"></td>
          <td class="nodata">Data not found</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td class="totalrow" colspan="2"><strong>Total</strong></td>
          <td class="totalrow">
            <strong>{{
              totalexp() | currency : "USD" : "symbol" : "2.0"
            }}</strong>
          </td>
          <td colspan="2"></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <!-- 
    <div>
      @for (item of _ExtrackerService.getdata; track item.id){
      <ul>
        <li>{{ item.expencename }}</li>
      </ul>
      }@empty{
      <div>no data</div>
      }
    </div> -->
  </div>
  <!-- [ngClass]="totalexp() > this.budget ? 'card3' : 'card1'" -->
  <!-- Start Q2 -->
  <!-- <div class="flex justify-center flex-col md:flex-row" id="excel-table"> -->
  <!-- End Q2 -->
  <div class="flex justify-center flex-col md:flex-row" id="excel-table">
    <h2
      [ngClass]="{
        card3: totalexp() > this.budget,
        card1: totalexp() < this.budget,
        card2: totalexp() == this.budget
      }"
    >
      <i *ngIf="totalexp() < this.budget" class="lni lni-trend-down-1"></i>
      <i *ngIf="totalexp() > this.budget" class="lni lni-trend-up-1"></i>
      Total Expence : {{ totalexp() | currency : "USD" : "symbol" : "2.0" }}
      <label class="lbl" *ngIf="totalexp() < this.budget">Under Budget</label>
      <label class="lbl" *ngIf="totalexp() == this.budget"
        >Expense is equal to the budget.</label
      >
      <label class="lbl" *ngIf="totalexp() > this.budget"
        >Expence is exceed to the Budget</label
      >
    </h2>
    <!-- <span class="ope">{{ totalexp() > this.budget ? ">" : "<" }}</span> -->
    <span class="ope" *ngIf="totalexp() == this.budget">=</span>
    <span class="ope" *ngIf="totalexp() > this.budget">></span>
    <span class="ope" *ngIf="totalexp() < this.budget"><</span>

    <h2 class="card2 ml-5">
      <!-- Total budget : {{ this.budget }} -->
      <i class="lni lni-dollar-circle icon2"></i>
      Total budget : {{ this.budget | currency : "USD" : "symbol" : "2.0" }}
      <!-- <input type="number" name="" id="" [(ngModel)]="this.budget" /> -->
    </h2>
    <h2 class="card4 ml-5">
      <i class="lni lni-weight-machine-1 icon2"></i>Balance :
      {{ balacnce() | currency : "USD" : "symbol" : "2.0" }}
    </h2>
  </div>
</div>

