.card1 {
  margin-top: 10vh;
  background-color: #0d131a;
  color: rgb(255, 255, 255);
  width: 380px;
  text-align: center;
  height: 120px;
  padding: 40px 0px;
  border-radius: 20px;
}

.card3 {
  margin-top: 10vh;
  background-color: #0d131a;
  border: 2px solid #0d131a;
  color: #ff6565;
  width: 380px;
  text-align: center;
  height: 120px;
  padding: 40px 0px;
  border-radius: 20px;
}

.card2 {
  margin-top: 10vh;
  background-color: #0d131a;
  border: 2px solid #0d131a;
  color: #3fff79;
  width: 380px;
  text-align: center;
  height: 120px;
  padding: 40px 0px;
  border-radius: 20px;
}
.card4 {
  margin-top: 10vh;
  background-color: #0d131a;
  border: 2px solid #0d131a;
  color: #54fff1;
  width: 380px;
  text-align: center;
  height: 120px;
  padding: 40px 0px;
  border-radius: 20px;
}
