<!-- <app-header ></app-header> -->

<div class="flex justify-center flex-col md:flex-row" id="excel-table">
  <h3
    class="text-2xl"
    [ngClass]="{
      card3: totalexp() > this.budget,
      card1: totalexp() < this.budget,
      card2: totalexp() == this.budget
    }"
  >
    <i *ngIf="totalexp() < this.budget" class="lni lni-trend-down-1"></i>
    <i *ngIf="totalexp() > this.budget" class="lni lni-trend-up-1"></i>
    Total Expense : {{ totalexp() | currency : "USD" : "symbol" : "2.0" }}
    <label class="lbl text-sm" *ngIf="totalexp() < this.budget">Under Budget</label>
    <label class="lbl text-sm " *ngIf="totalexp() == this.budget"
      >Expense is equal to the budget.</label
    >
    <label class="lbl text-sm" *ngIf="totalexp() > this.budget"
      >Expense is exceed to the Budget</label
    >
  </h3>
  <!-- <span class="ope">{{ totalexp() > this.budget ? ">" : "<" }}</span> -->
  <!-- <span class="ope" *ngIf="totalexp() == this.budget">=</span>
    <span class="ope" *ngIf="totalexp() > this.budget">></span>
    <span class="ope" *ngIf="totalexp() < this.budget"><</span> -->

  <h3 class="card2 ml-5 text-2xl">
    <!-- Total budget : {{ this.budget }} -->
    <i class="lni lni-dollar-circle icon2"></i>
    Total budget : {{ this.budget | currency : "USD" : "symbol" : "2.0" }}
    <!-- <input type="number" name="" id="" [(ngModel)]="this.budget" /> -->
  </h3>
  <h3 class="card4 ml-5 text-2xl">
    <i class="lni lni-weight-machine-1 icon2"></i>Balance :
    {{ balacnce() | currency : "USD" : "symbol" : "2.0" }}
  </h3>
</div>
