<div>
  <div class="center">
    <!-- Start Q1 -->
    <!-- <button [ngClass]="isbtn == true ? 'a' : 'b'" [disabled]="isbtn == false">
      Test
    </button> -->
    <!-- End Q1 -->
    <div class="setfrom w-[900px]">
      <div class="border-b border-gray-200 dark:border-gray-700">
        <ul
          class="flex flex-wrap -mb-px text-sm font-medium text-center"
          id="default-styled-tab"
          data-tabs-toggle="#default-styled-tab-content"
          data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-red-400 dark:hover:text-red-400 border-purple-600 dark:border-red-400"
          data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
          role="tablist"
        >
          <li class="me-2" role="presentation">
            <button
              [ngClass]="{
                'tab1-dis': this.tab2 == false,
                'tab1-act': this.tab1 == true
              }"
              (click)="tabbud()"
              class="inline-block p-2 border-b-2 rounded-t-lg cursor-pointer"
              id="profilestyledtab"
              data-tabs-target="#styledprofile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              Add Budget
            </button>
          </li>
          <li class="me-2" role="presentation">
            <button
              [ngClass]="{
                'tab1-dis': this.tab1 == false,
                'tab1-act': this.tab2 == true
              }"
              (click)="tabex()"
              class="inline-block p-2 border-b-2 rounded-t-lg cursor-pointer"
              id="dashboardstyledtab"
              data-tabs-target="#styleddashboard"
              type="button"
              role="tab"
              aria-controls="dashboard"
              aria-selected="false"
            >
              Add Expense
            </button>
          </li>
        </ul>
      </div>
      <div id="default-styled-tab-content">
        <!-- bg-[#0d1117] -->
        <div
          *ngIf="tab1"
          class="p-2 rounded-lg"
          id="styledprofile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <input
            type="number"
            placeholder="Enter budget"
            [(ngModel)]="this.number"
          />

          <button
            title="Add budget"
            (click)="addBudget()"
            class="add hover:bg-sky-800"
            [ngClass]="!this.number ? 'dis' : 'green'"
            [disabled]="!this.number"
          >
            <i class="lni lni-plus icon"></i> Add Budget
          </button>
        </div>
        <!-- bg-[#0d1117] -->
        <div
          *ngIf="tab2"
          class="p-2 rounded-lg"
          id="styleddashboard"
          role="tabpanel"
          aria-labelledby="dashboard-tab"
        >
          <form [formGroup]="form">
            <input
              type="text"
              placeholder="Enter Expense"
              formControlName="expencename"
            />
            <input
              type="number"
              placeholder="Enter Expense Cost"
              formControlName="expenceamount"
            />
            <input
              class="date"
              type="date"
              placeholder="Enter Expense Date"
              formControlName="expencedate"
            />

            <button
              title="Add Expense"
              [ngClass]="{
                dis: form.valid == false,
                green: form.valid == true
              }"
              (click)="addexpense()"
              class="add hover:bg-sky-800"
              [disabled]="!form.valid"
            >
              <i class="lni lni-plus icon"></i> Add Expense
            </button>
            <button
              title="Download excel sheet"
              class="export"
              (click)="exportToExcel()"
            >
              <i class="lni lni-cloud-download icon2"></i>Export
            </button>
            <!-- <i class="lni lni-load icon2"></i> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- class="w[400px] overflow-x-scroll" -->
  <!-- style="width: 400px; overflow-x: scroll" -->
  <div class="center">
    <table id="excel-table">
      <div class="w-[400px] sm:w-full  overflow-x-scroll">
        <thead>
          <tr>
            <input
              class="mb-3"
              type="text"
              placeholder="Search Expense"
              [(ngModel)]="this._ExtrackerService.searchText"
            />
          </tr>

          <tr>
            <th>S.no</th>
            <th>Expense Name</th>
            <th>Expense Cost</th>
            <th>Expense Date</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let item of _ExtrackerService.expenseTrackerData;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ item.expencename }}</td>
            <td>
              {{ item.expenceamount | currency : "USD" : "symbol" : "2.0" }}
            </td>
            <td>{{ item.expencedate }}</td>

            <td
              title="Delete row record"
              class="del"
              (click)="deleteExpense(item)"
            >
              <i class="lni lni-trash-3"></i>
            </td>
            <td
              title="Edit row record"
              class="update"
              (click)="editExpense(item); tabex()"
            >
              <i class="lni lni-pencil-1"></i>
            </td>
          </tr>
          <!-- <tr *ngIf="_ExtrackerService.getdata.length == 0"> -->
          <!-- <td colspan="2"></td> -->
          <div
            *ngIf="this._ExtrackerService.expenseTrackerData?.length === 0"
            class="nodata"
          >
            Data not found
          </div>
          <!-- <td colspan="2"></td> -->
          <!-- </tr> -->
          <tr>
            <td class="totalrow" colspan="2"><strong>Total</strong></td>
            <td class="totalrow">
              <strong>{{
                totalexp() | currency : "USD" : "symbol" : "2.0"
              }}</strong>
            </td>
            <td colspan="2"></td>
          </tr>
          <tr></tr>
        </tbody>
      </div>
    </table>
  </div>

  <!-- 
    <div>
      @for (item of _ExtrackerService.getdata; track item.id){
      <ul>
        <li>{{ item.expencename }}</li>
      </ul>
      }@empty{
      <div>no data</div>
      }
    </div> -->

  <!-- [ngClass]="totalexp() > this.budget ? 'card3' : 'card1'" -->
  <!-- Start Q2 -->
  <!-- <div class="flex justify-center flex-col md:flex-row" id="excel-table"> -->
  <!-- End Q2 -->
  <!-- <div class="flex justify-center flex-col md:flex-row" id="excel-table">
    <h3
      class="text-2xl"
      [ngClass]="{
        card3: totalexp() > this.budget,
        card1: totalexp() < this.budget,
        card2: totalexp() == this.budget
      }"
    >
      <i *ngIf="totalexp() < this.budget" class="lni lni-trend-down-1"></i>
      <i *ngIf="totalexp() > this.budget" class="lni lni-trend-up-1"></i>
      Total Expense : {{ totalexp() | currency : "USD" : "symbol" : "2.0" }}
      <label class="lbl" *ngIf="totalexp() < this.budget">Under Budget</label>
      <label class="lbl" *ngIf="totalexp() == this.budget"
        >Expense is equal to the budget.</label
      >
      <label class="lbl" *ngIf="totalexp() > this.budget"
        >Expense is exceed to the Budget</label
      >
    </h3>


    <h3 class="card2 ml-5 text-2xl">
      <i class="lni lni-dollar-circle icon2"></i>
      Total budget : {{ this.budget | currency : "USD" : "symbol" : "2.0" }}
    </h3>
    <h3 class="card4 ml-5 text-2xl">
      <i class="lni lni-weight-machine-1 icon2"></i>Balance :
      {{ balacnce() | currency : "USD" : "symbol" : "2.0" }}
    </h3>
  </div> -->
</div>

<div
  *ngIf="this.add"
  class=" alert-animation absolute top-10 right-10 flex w-96 items-center p-3 mb-4 text-sm rounded-lg dark:bg-[#00ff8078] text-white-900"
  role="alert"
>
  <svg
    class="shrink-0 inline w-4 h-4 me-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Expense </span>
    added/updated Successfully
  </div>
</div>

<div
  *ngIf="this.budg"
  class="alert-animation absolute top-10 right-10 flex w-96 items-center p-3 mb-4 text-sm rounded-lg dark:bg-[#00ff8078] text-white-900"
  role="alert"
>
  <svg
    class="shrink-0 inline w-4 h-4 me-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Budget </span>
    added Successfully
  </div>
</div>
<div
  *ngIf="this.down"
  class="alert-animation absolute top-10 right-10 flex w-96 items-center p-3 mb-4 text-sm rounded-lg dark:bg-[#00ff8078] text-white-900"
  role="alert"
>
  <svg
    class="shrink-0 inline w-4 h-4 me-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">File </span>
    Download Successfully
  </div>
</div>
<div
  *ngIf="this.rem"
  class="alert-animation absolute top-10 right-10 flex w-96 items-center p-3 mb-4 text-sm rounded-lg dark:bg-[#00ff8078] text-white-900"
  role="alert"
>
  <svg
    class="shrink-0 inline w-4 h-4 me-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Expense </span>
    deleted Successfully
  </div>
</div>
